{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Musicians Blog</title>
    <link
      rel="shortcut icon"
      href="{% static 'favicon/favicon.ico' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/guitar_blog.css' %}" />
    <script src="https://kit.fontawesome.com/29d5ffab98.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="top-portion">
      <h1 class="top-text">Musicians' Paradise</h1>
    </div>
    {% block content %}{% endblock content %}
    <div class="footer">
      {% if request.path != "/login/" and "guitar_blog" not in request.path and request.path != "/signup/"%}
        {% if user.is_authenticated %}
          <p>You are logged in as {{ user }}. To logout: <a href="{% url "logout" %}">LogOut</a></p>
          <p>Create your own Blog Post <a href="{% url "create_musician" %}">here</a>.</p>
        {% else %}
          <p>You are not logged in! Please <a href="{% url "login" %}">Login</a> to create your post.</p>
          <p>Don't have account? <a href="{% url "signup" %}">SignUp</a></p>
        {% endif %}
      {% endif %}
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/guitar_blog.js' %}"></script>
  </body>
</html>
