.menuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 34px 0 34px 32px;
  gap: 10px;
  position: relative;
  cursor: pointer;
}

.img {
  width: 20px;
  height: 20px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}
