.container{
    background-color: #1E1E1E;
    display: flex;
    align-items: center;
    padding: 10px 24px;
    margin-top: 31px;
}

.text_box{
    color: white;
    margin-left: 20px;
    margin-right: 35px;
}

.title{
    width: 168px;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.sub_title{
    font-size: 23px;
    font-weight: 600;
}